label{
    font-weight: bold;
    color:#900c35;
}
h1{
    text-align: center;
    color: #900c35;
}
input{
    background-color: rgb(240, 248, 255,0.5);
    font-size: medium;
    font-weight: 800;
    color: rgb(0, 0, 0,0.8);
}
label{
    font-size: large;
    color: rgb(255, 255, 255,0.8);
    background-color: rgb(0, 0, 0,0.5);
    padding: 8px;
    border-radius: 5px;
    
}
.container{
    width: 34%;
    margin-top: 40px;
    padding-left: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.div1{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/06/34/70/57/360_F_634705766_xRlKdJ4uNsEqNnkd9YZo6Mm25aEr3DZI.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}


.out{
    margin-top: 60px;
    width: 40%;
    height: 100%;
    border: none;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 20px;
}
.table{
    text-align: center;
    font-size: large;
    border-style: double;
    font-weight:bold;

    
}
th{
    background-color: rgb(64, 61, 61);
    color: aliceblue;
    text-align: center;
}
button{
    color: black;
    font-weight: 500;
}